<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>Registration</title>
</head>
<style>
    *{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: aquamarine;
    height: 120px;
    width: 100%;
    display: flex;
}
.title{
    flex: 2;
    font-family: 'Pattaya', sans-serif;
    font-size: 6rem;
}
.options{
    flex: 1;
    display: flex;
    margin-left: auto;
    font-family: 'Roboto Mono', monospace;
    justify-content: space-around;
}
.home, .login, .register{
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: underline;
}
</style>
<body>
    <div class="navbar">
        <div class="title">Readza</div>
        <div class="options">
            <div class="home">Home</div>
            <div class="login">Login</div>
            <div class="register">Register</div>
        </div>
    </div>
</body>
</html>